/* #container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} */

#container img {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

#toolbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #245DDB;
    display: flex;
}

#start {
    width: 180px;
    height: 50px;
    background: linear-gradient(90deg, #80ac80, #47AB47, #2c6d2c);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding-right: 25px;
}

#start img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}

#start p {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 27px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#time-notif {
    position: absolute;
    right: 0;
    height: 50px;
    width: 200px;
    background-color: #1C9AEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}