* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#background-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#desktop {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

#toolbar {
    width: 100%;
    height: 3.125rem;
    background: linear-gradient(#6287d8, #245DDB 25%, #245DDB 75%, #6287d8);
    display: flex;
}

.start {
    width: 11.25rem;
    height: 3.125rem;
    background: linear-gradient(90deg, #80ac80, #47AB47, #2c6d2c);
    border-radius: 0 1.25rem 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding-right: 1.563rem;
}

.start img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.625rem 0 0;
}

.start p {
    color: #fff;
    text-shadow: 0.063rem 0 0 #000, 0 -0.063rem 0 #000, 0 0.063rem 0 #000, -0.063rem 0 0 #000;
    font-size: 1.688rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#time {
    width: 50%;
    margin-right: 0.313rem;
    text-align: center;
    white-space: nowrap;
}

#notifications {
    width: 50%;
}

#tabs {
    width: calc(100% - 24.375rem);
    height: 3.125rem;
    display: flex;
    align-items: center;
    margin: 0 0.313rem;
}

.tab {
    height: 2.813rem;
    width: 12.5rem;
    background-color: #1C9AEB;
    margin: 0 0.063rem;
    border: 0.063rem solid #000;
    border-radius: 0.313rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tab:hover {
    background-color: #187fc0;
}

.tab img {
    height: 2.375rem;
    padding: 0 0.625rem;
}

.tab h1 {
    font-size: 1.125rem;
    color: #fff;
    text-shadow: 0.063rem 0 0 #000, 0 -0.063rem 0 #000, 0 0.063rem 0 #000, -0.063rem 0 0 #000;
    height: 1.125rem;
    white-space: nowrap;
}

#time-notif {
    position: absolute;
    right: 0;
    height: 3.125rem;
    width: 12.5rem;
    background-color: #1C9AEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.563rem;
}

#desktop-icons {
    height: calc(100% - 3.125rem);
    width: 100%;
    display: flex;
}

#icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.folders-files-icon {
    height: 8rem;
    width: 8rem;
    border: 0.063rem dotted #808080;
    padding-top: 0.313rem;
    margin: 0.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folders-files-icon img {
    height: 3.75rem;
    width: 3.75rem;
}

.folders-files-icon h1 {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.313rem 0.125rem;
    color: #fff;
    text-shadow: 0.063rem 0 0 #000, 0 -0.063rem 0 #000, 0 0.063rem 0 #000, -0.063rem 0 0 #000;
}

.window {
    /* height: 80%;
    width: 60%; */
    position: absolute;
    border-radius: 0.938rem 0.938rem 0 0;
    border: 0.125rem solid #245DDB;
    /* top: 8%;
    left: 20%; */
    overflow: hidden;
}

.window-header {
    background-color: #245DDB;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.813rem 0.813rem 0 0;
}

.window-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-header-title img {
    height: 2.5rem;
    margin: 0 0.313rem 0 0.938rem;
}

.window-header-title h1 {
    font-size: 1.563rem;
    margin: 0 0.313rem;
    color: #fff;
    white-space: nowrap;
}

.window-header-display-tools {
    display: flex;
    align-items: center;
}

.window-header button {
    width: 2.5rem;
    height: 2.5rem;
}

button {
    background-color: transparent;
    border: 0;
}

.min-icon-outer {
    height: 2rem;
    width: 2rem;
    background-color: #245DDB;
    border-radius: 0.313rem;
    margin: auto;
    border: 0.063rem solid #fff;
}

.min-icon-inner {
    height: 0.313rem;
    width: 0.75rem;
    display: flex;
    background-color: #fff;
    position: relative;
    top: 1.125rem;
    left: 0.375rem;
}

.max-icon-outer {
    height: 2rem;
    width: 2rem;
    background-color: #245DDB;
    border-radius: 0.313rem;
    margin: auto;
    border: 0.063rem solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-icon-inner {
    height: 1.125rem;
    width: 1.125rem;
    background-color: #245DDB;
    border-color: #fff;
    border-width: 0.313rem 0.063rem 0.063rem;
    border-style: solid;
}

.close img {
    height: 100%;
    width: 100%;
}

.min-icon-outer:hover .min-icon-inner {
    background-color: #1C9AEB;
}

.max-icon-outer:hover .max-icon-inner {
    border-color: #1C9AEB;
}

.file-toolbar {
    height: 1.563rem;
    background-color: #EBE8D7;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.063rem solid #808080;
}

.file-toolbar button {
    padding: 0.25rem 0.313rem;
    margin: 0.063rem;
}

.file-toolbar button:hover {
    margin: 0;
    border: 0.063rem solid #000;
}

.window-toolbar-logo {
    height: 1.5rem;
    width: 2.5rem;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-toolbar-logo img {
    height: 1.25rem;
}

.folder-toolbar {
    height: 3.75rem;
    background-color: #EBE8D7;
    border-bottom: 0.063rem solid #808080;
    display: flex;
    font-size: 21.875rem;
}

.folder-toolbar p {
    font-size: 1.063rem;
}

.folder-toolbar button:hover {
    border: 0.063rem solid #000;
}

.folder-toolbar-back {
    height: 3.75rem;
    width: 8.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-icon {
    height: 2.188rem;
    width: 2.188rem;
    background: linear-gradient(135deg, #67fd41, #419F29 40%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-icon img {
    height: 1.25rem;
    width: 1.25rem;
}

.folder-toolbar-back .round-icon {
    margin: 0 0.625rem 0 -0.625rem;
}

.folder-toolbar-forward {
    width: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-toolbar-folderUp,
.folder-toolbar-home {
    width: 3.75rem;
    border-right: 0.063rem solid #808080;
}

.folder-toolbar-reload,
.folder-toolbar-x {
    width: 3.75rem;
}

.folder-toolbar-folderUp img {
    height: 2.813rem;
}

.folder-toolbar-reload img,
.folder-toolbar-x img,
.folder-toolbar-home img {
    height: 2.5rem;
}

.folder-toolbar-reload img,
.folder-toolbar-x img {
    width: 2rem;
}

.folder-toolbar-search,
.folder-toolbar-folders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
}

.folder-toolbar-folders {
    border-right: 0.063rem solid #808080;
}

.folder-toolbar-search img,
.folder-toolbar-folders img {
    height: 2.5rem;
    margin-right: 0.313rem;
}

.search-toolbar {
    width: 100%;
    height: 1.563rem;
    background-color: #EBE8D7;
    display: flex;
    border-bottom: 0.063rem solid #808080;
}

.search-toolbar p {
    margin: auto 0.625rem;
}

.search-toolbar form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-toolbar input {
    width: 100%;
}

.search-toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
}

.search-toolbar button:hover {
    border: 0.063rem solid #000;
}

.go-icon {
    height: 1.25rem;
    width: 1.25rem;
    background-color: #419F29;
    border-radius: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-icon img {
    height: 0.938rem;
}

.window-content {
    width: 100%;
    height: calc(100% - 11.625rem);
    border-bottom: 0.063rem solid #808080;
    display: flex;
}

.window-content-shortcuts {
    height: 100%;
    width: 25%;
    background-color: #EBE8D7;
}

.window-content-main {
    height: 100%;
    width: 75%;
    padding: 1.25rem;
    background-color: #fff;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.938rem;
}

::-webkit-scrollbar-thumb {
    background: #59bfff;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b6eff;
}

.window-folders-files {
    display: flex;
    flex-wrap: wrap;
}

.window-folders-files h1 {
    color: #000;
    text-shadow: none;
}

.window-footer {
    width: 100%;
    height: 1.563rem;
    background-color: #EBE8D7;
}

.cmd-body {
    height: calc(100% - 3.125rem);
    width: 100%;
    background-color: #000;
    color: #00ff00;
    font-size: 1.7rem;
    text-shadow: 0 0 1.7rem white;
    padding: 0.938rem 0.125rem;
    font-family: Terminal;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.cmd-body p {
    display: inline;
    padding-right: 0.313rem;
}

.cmd-body a {

    padding-right: 0.313rem;
    color: #00ff00;
}

.cmd-body:last-child::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {

    from,
    to {
        color: black;
        background: black;
    }

    50% {
        color: #00ff00;
        background: #00ff00;
    }
}

.cmd-body::-webkit-scrollbar {
    display: none;
}

.photo-body {
    height: calc(100% - 6.25rem);
    width: 100%;
    background-color: #ecf8ff;
    padding: 0.938rem 0.125rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-body img {
    max-width: 100%;
    max-height: 100%;
}

.photo-footer {
    height: 3.125rem;
    background-color: #ecf8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-footer img {
    height: 1.875rem;
    margin: 0 0.625rem;
}

.explorer-content-main {
    background-color: white;
    height: calc(100% - 11.563rem);
}

iframe {
    height: 100%;
    width: 100%;
}

#start-page {
    position: absolute;
    bottom: 3.125rem;
    width: 32.5rem;
    height: 37.5rem;
    border-radius: 0.625rem 0.625rem 0 0;
    overflow: hidden;
}

#start-header {
    height: 5rem;
    background: linear-gradient(#245DDB 60%, #6287d8);
    border-radius: 0.625rem 0.625rem 0 0;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 0.063rem 0 0 #000, 0 -0.063rem 0 #000, 0 0.063rem 0 #000, -0.063rem 0 0 #000;
}

#start-header img {
    height: 4.375rem;
    background-color: #fff;
    border: 0.313rem solid gray;
    border-radius: 0.938rem;
    margin: auto 0.938rem;
}

#start-body {
    width: 100%;
    height: calc(100% - 8.438rem);
    background-color: #bfddf0;
    display: flex;
    overflow: hidden;
}

#start-body-left-programs,
#start-body-right-programs {
    width: 50%;
    padding: 0.625rem 0.313rem;
    overflow: hidden;
}

#start-body-left-programs button,
#start-body-right-programs button {
    width: 100%;
    padding: 0.313rem 0.625rem;
    display: flex;
    align-items: center;
}

#start-body-left-programs {
    background-color: #fff;
}

#start-body-left-programs button {
    height: 4.375rem;
}

#start-body-right-programs button {
    font-size: 0.75rem;
    height: 2.5rem;
}

#start-body-left-programs button:hover,
#start-body-right-programs button:hover {
    border: 0.063rem solid gray;
    padding: 0.25rem 0.563rem;
}

#start-body-left-programs img {
    height: 3.75rem;
    margin: 0 0.625rem 0 0;
}

#start-body-right-programs img {
    height: 1.875rem;
    margin: 0 0.625rem;
}

#start-body-left-programs button:last-child {
    width: 11.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    bottom: 3.438rem;
    font-size: 1.063rem;
    font-weight: 900;
    transition: width 1s;
}

#start-body-left-programs button:last-child img {
    height: 1.563rem;
    margin: 0 0.625rem;
    transition: 1s;
}

#start-body-left-programs button:last-child:hover {
    width: 12.5rem;
    border: 0;
    margin: 0 0.063rem;
}

#start-footer {
    background: linear-gradient(#6287d8, #245DDB 50%);
    height: 3.438rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.313rem;
}

#start-footer button {
    padding: 0.313rem;
    margin: 0 0.313rem;
    display: flex;
    align-items: center;
    font-size: 0.688rem;
    color: #fff;
    text-shadow: 0.063rem 0 0 #000, 0 -0.063rem 0 #000, 0 0.063rem 0 #000, -0.063rem 0 0 #000;
}

#start-footer button:hover {
    border: 0.063rem solid rgb(99, 99, 99);
    margin: 0 0.25rem;
}

#start-footer img {
    height: 2.5rem;
    margin: 0 0.938rem;
}

#notifications {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#notifications button {
    display: flex;
}

#notifications img {
    height: 1.563rem;
}

#notification {
    width: 38.625rem;
    position: absolute;
    bottom: 1.563rem;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
}

#notif-body {
    padding: 0.75rem;
    border: 2px solid black;
    border-radius: 0.938rem;
    background-color: #F7F7DA;
    position: relative;
}

#notif-body-header {
    display: flex;
    align-items: center;
}

#notif-body-header-icon {
    height: 2.188rem;
    margin: 0 0.625rem;
}

#notif-body-header-title {
    width: 500px;
}

#notif-body-header-title h3 {
    font-size: 1.25rem;
}

#notif-body-header-close {
    width: 2.188rem;
    height: 2.188rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 0.313rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notif-body-header-close:hover {
    background-color: red;
}

#notif-body-header-close:hover:after {
    color: white;
}

#notif-body-header-close:after {
    content: '\2716';
    color: rgb(160, 160, 160);
    font-size: 1.563rem;
}

#notif-body-text {
    padding: 0.625rem 0.313rem 0.313rem 1.75rem;
    font-size: 1.25rem;
}

/* #fullscreen-notification-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#fullscreen-notification-body p {
    margin-bottom: 0.625rem;
}

#fullscreen-notification-body button {
    font-size: 1.25rem;
    font-weight: 900;
    background-color: #fff;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0.313rem 0.625rem;
    border-radius: 0.938rem;
    border: 2px solid #000;
}

#notif-body-line {
    width: 2.875rem;
    height: 0.125rem;
    background-color: #F7F7DA;
    position: absolute;
    bottom: -0.125rem;
    right: 1.875rem;
}

#notif-tip {
    display: flex;
    flex-direction: row-reverse;
}

#notif-tip-border {
    position: relative;
    right: 1.875rem;
    border-left: 3.125rem solid transparent;
    border-top: 3.125rem solid black;
}

#notif-tip-inner {
    position: relative;
    bottom: 0.25rem;
    right: -1.125rem;
    border-left: 3.125rem solid transparent;
    border-top: 3.125rem solid #F7F7DA;
}

@media (max-width: 62.5rem) {

    .window {
        height: calc(100vh - 3.188rem);
        width: 100%;
        top: 0;
        left: 0;
    }

    .start {
        width: 9.375rem;
    }

    #time-notif {
        width: 9.375rem;
    }

    #tabs {
        width: calc(100% - 19.375rem);
    }

    .folders-files-icon {
        height: 6.875rem;
        width: 6.875rem;
        margin: 0.063rem;
    }

    .folders-files-icon img {
        height: 2.813rem;
        width: 2.813rem;
    }

    .folders-files-icon h1 {
        font-size: 0.813rem;
    }

    .window-header-title img {
        height: 2.188rem;
    }

    .window-header-title h1 {
        font-size: 1.125rem;
    }

    .tab {
        width: 9.375rem;
    }

    .tab img {
        height: 2rem;
    }
}

@media (max-width: 43.75rem) {
    #notification {
        width: calc(100% - 6.25rem);
    }
}

@media (max-width: 34.375rem) {

    .folder-toolbar p {
        display: none;
    }

    .folder-toolbar button {
        width: 3.75rem;
        height: 100%;
    }

    .folder-toolbar-back .round-icon {
        margin: 0;
    }

    #start-page {
        width: 100%;
    }

    .start {
        width: 4.375rem;
    }

    .start img {
        margin: 0 -0.938rem 0 0;
    }

    .start p {
        display: none;
    }

    #tabs {
        width: calc(100% - 11.25rem);
    }

    #time-notif {
        width: 6.25rem;
        font-size: 1.25rem;
    }

    .folders-files-icon {
        height: 5.313rem;
        width: 5.313rem;
        margin: 0.063rem;
    }

    .folders-files-icon img {
        height: 2.188rem;
        width: 2.188rem;
    }

    .folders-files-icon h1 {
        font-size: 0.625rem;
    }

    .window-header-title img {
        height: 1.875rem;
    }

    .window-header-title h1 {
        font-size: 0.938rem;
    }

    .tab {
        width: 6.875rem;
    }

    .tab img {
        height: 1.563rem;
        padding: 0 0.313rem;
    }

    .tab h1 {
        font-size: 0.938rem;
        height: 0.938rem;
    }
}