* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#background-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#desktop {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

#toolbar {
    width: 100%;
    height: 50px;
    background: linear-gradient(#6287d8, #245DDB 25%, #245DDB 75%, #6287d8);
    display: flex;
}

.start {
    width: 180px;
    height: 50px;
    background: linear-gradient(90deg, #80ac80, #47AB47, #2c6d2c);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding-right: 25px;
}

.start img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}

.start p {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 27px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#time {
    width: 50%;
    margin-right: 5px;
    text-align: center;
    white-space: nowrap;
}

#notifications {
    width: 50%;
}

#tabs {
    width: calc(100% - 390px);
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.tab {
    height: 45px;
    width: 200px;
    background-color: #1C9AEB;
    margin: 0 1px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tab:hover {
    background-color: #187fc0;
}

.tab img {
    height: 38px;
    padding: 0 10px;
}

.tab h1 {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    height: 18px;
    white-space: nowrap;
}

#time-notif {
    position: absolute;
    right: 0;
    height: 50px;
    width: 200px;
    background-color: #1C9AEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#desktop-icons {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
}

#icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.folders-files-icon {
    height: 170px;
    width: 170px;
    border: 1px dotted #808080;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folders-files-icon img {
    height: 70px;
    width: 70px;
}

.folders-files-icon h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    padding: 5px 2px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.window,
.cmd,
.photo {
    height: 80%;
    width: 60%;
    position: absolute;
    border-radius: 15px 15px 0 0;
    border: 2px solid #245DDB;
    top: 8%;
    left: 20%;
    overflow: hidden;
}

.window-header {
    background-color: #245DDB;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px 13px 0 0;
}

.window-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-header-title img {
    height: 40px;
    margin: 0 5px 0 15px;
}

.window-header-title h1 {
    font-size: 25px;
    margin: 0 5px;
    color: #fff;
    white-space: nowrap;
}

.window-header-display-tools {
    display: flex;
    align-items: center;
}

.window-header button {
    width: 40px;
    height: 40px;
}

button {
    background-color: transparent;
    border: 0;
}

.min-icon-outer {
    height: 32px;
    width: 32px;
    background-color: #245DDB;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #fff;
}

.min-icon-inner {
    height: 5px;
    width: 12px;
    display: flex;
    background-color: #fff;
    position: relative;
    top: 18px;
    left: 6px;
}

.max-icon-outer {
    height: 32px;
    width: 32px;
    background-color: #245DDB;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-icon-inner {
    height: 18px;
    width: 18px;
    background-color: #245DDB;
    border-color: #fff;
    border-width: 5px 1px 1px;
    border-style: solid;
}

.close img {
    height: 100%;
    width: 100%;
}

.min-icon-outer:hover .min-icon-inner {
    background-color: #1C9AEB;
}

.max-icon-outer:hover .max-icon-inner {
    border-color: #1C9AEB;
}

.file-toolbar {
    height: 25px;
    background-color: #EBE8D7;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.file-toolbar button {
    padding: 4px 5px;
    margin: 1px;
}

.file-toolbar button:hover {
    margin: 0;
    border: 1px solid #000;
}

.window-toolbar-logo {
    height: 24px;
    width: 40px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-toolbar-logo img {
    height: 20px;
}

.folder-toolbar {
    height: 60px;
    background-color: #EBE8D7;
    border-bottom: 1px solid #808080;
    display: flex;
    font-size: 350px;
}

.folder-toolbar p {
    font-size: 17px;
}

.folder-toolbar button:hover {
    border: 1px solid #000;
}

.folder-toolbar-back {
    height: 60px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-icon {
    height: 35px;
    width: 35px;
    background: linear-gradient(135deg, #67fd41, #419F29 40%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-icon img {
    height: 20px;
    width: 20px;
}

.folder-toolbar-back .round-icon {
    margin: 0 10px 0 -10px;
}

.folder-toolbar-forward {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-toolbar-folderUp {
    width: 60px;
    border-right: 1px solid #808080;
}

.folder-toolbar-folderUp img {
    height: 45px;
}

.folder-toolbar-search,
.folder-toolbar-folders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.folder-toolbar-folders {
    border-right: 1px solid #808080;
}

.folder-toolbar-search img,
.folder-toolbar-folders img {
    height: 40px;
    margin-right: 5px;
}

.search-toolbar {
    width: 100%;
    height: 25px;
    background-color: #EBE8D7;
    display: flex;
    border-bottom: 1px solid #808080;
}

.search-toolbar p {
    margin: auto 10px;
}

.search-toolbar form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-toolbar input {
    width: 100%;
}

.search-toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.search-toolbar button:hover {
    border: 1px solid #000;
}

.go-icon {
    height: 20px;
    width: 20px;
    background-color: #419F29;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-icon img {
    height: 15px;
}

.window-content {
    width: 100%;
    height: calc(100% - 186px);
    border-bottom: 1px solid #808080;
    display: flex;
}

.window-content-shortcuts {
    height: 100%;
    width: 25%;
    background-color: #EBE8D7;
}

.window-content-main {
    height: 100%;
    width: 75%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #59bfff;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b6eff;
}

.window-folders-files {
    display: flex;
    flex-wrap: wrap;
}

.window-folders-files h1 {
    color: #000;
    text-shadow: none;
}

.window-footer {
    width: 100%;
    height: 25px;
    background-color: #EBE8D7;
}

.cmd-body {
    height: calc(100% - 50px);
    width: 100%;
    background-color: #000;
    color: #1DEE1A;
    font-size: 25px;
    padding: 15px 2px;
    font-family: Terminal;
    overflow-y: scroll;
}

.cmd-body::-webkit-scrollbar {
    display: none;
}

.photo-body {
    height: calc(100% - 50px);
    width: 100%;
    background-color: #ecf8ff;
    padding: 15px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-body img {
    width: 100%;
}

#start-page {
    position: absolute;
    bottom: 50px;
    width: 520px;
    height: 600px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#start-header {
    height: 80px;
    background: linear-gradient(#245DDB 60%, #6287d8);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#start-header img {
    height: 70px;
    background-color: #fff;
    border: 5px solid gray;
    border-radius: 15px;
    margin: auto 15px;
}

#start-body {
    width: 100%;
    height: calc(100% - 135px);
    background-color: #bfddf0;
    display: flex;
    overflow: hidden;
}

#start-body-left-programs,
#start-body-right-programs {
    width: 50%;
    padding: 10px 5px;
    overflow: hidden;
}

#start-body-left-programs button,
#start-body-right-programs button {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

#start-body-left-programs {
    background-color: #fff;
}

#start-body-left-programs button {
    height: 70px;
}

#start-body-right-programs button {
    font-size: 12px;
    height: 40px;
}

#start-body-left-programs button:hover,
#start-body-right-programs button:hover {
    border: 1px solid gray;
    padding: 4px 9px;
}

#start-body-left-programs img {
    height: 60px;
    margin: 0 10px 0 0;
}

#start-body-right-programs img {
    height: 30px;
    margin: 0 10px;
}

#start-body-left-programs button:last-child {
    width: 190px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    bottom: 55px;
    font-size: 17px;
    font-weight: 900;
    transition: width 1s;
}

#start-body-left-programs button:last-child img {
    height: 25px;
    margin: 0 10px;
    transition: 1s;
}

#start-body-left-programs button:last-child:hover {
    width: 200px;
    border: 0;
    margin: 0 1px;
}

#start-footer {
    background: linear-gradient(#6287d8, #245DDB 50%);
    height: 55px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}

#start-footer button {
    padding: 5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#start-footer button:hover {
    border: 1px solid rgb(99, 99, 99);
    margin: 0 4px;
}

#start-footer img {
    height: 40px;
    margin: 0 15px;
}

@media (max-width: 1000px) {

    .window,
    .cmd,
    .photo {
        height: calc(100% - 51px);
        width: 100%;
        top: 0;
        left: 0;
    }

    .start {
        width: 150px;
    }

    #time-notif {
        width: 150px;
    }

    #tabs {
        width: calc(100% - 310px);
    }

    .folders-files-icon {
        height: 110px;
        width: 110px;
        margin: 1px;
    }

    .folders-files-icon img {
        height: 45px;
        width: 45px;
    }

    .folders-files-icon h1 {
        font-size: 13px;
    }

    .window-header-title img {
        height: 35px;
    }

    .window-header-title h1 {
        font-size: 18px;
    }

    .tab {
        width: 150px;
    }

    .tab img {
        height: 32px;
    }
}

@media (max-width: 550px) {

    .folder-toolbar p {
        display: none;
    }

    .folder-toolbar button {
        width: 60px;
        height: 100%;
    }

    .folder-toolbar-back .round-icon {
        margin: 0;
    }

    #start-page {
        width: 100%;
    }

    .start {
        width: 70px;
    }

    .start img {
        margin: 0 -15px 0 0;
    }

    .start p {
        display: none;
    }

    #tabs {
        width: calc(100% - 180px);
    }

    #time-notif {
        width: 100px;
        font-size: 20px;
    }

    .folders-files-icon {
        height: 85px;
        width: 85px;
        margin: 1px;
    }

    .folders-files-icon img {
        height: 35px;
        width: 35px;
    }

    .folders-files-icon h1 {
        font-size: 10px;
    }

    .window-header-title img {
        height: 30px;
    }

    .window-header-title h1 {
        font-size: 15px;
    }

    .tab {
        width: 110px;
    }

    .tab img {
        height: 25px;
        padding: 0 5px;
    }

    .tab h1 {
        font-size: 15px;
        height: 15px;
    }
}